/* 
CSS HEX 
--usafa-blue: #26547cff;
--paradise-pink: #ef476fff;
--orange-yellow-crayola: #ffd166ff;
--caribbean-green: #06d6a0ff;
--baby-powder: #fffcf9ff;

font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Smooch', cursive; 

1366 x 768 */