/* 
CSS HEX 
--usafa-blue: #26547cff;
--paradise-pink: #ef476fff;
--orange-yellow-crayola: #ffd166ff;
--caribbean-green: #06d6a0ff;
--baby-powder: #fffcf9ff;

font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Smooch', cursive; 

1366 x 768 */

body {
  margin: 0px;
}

#title {
  text-align: center;
  font-family: 'Smooch', cursive;
  font-weight: lighter;
  font-size: 50px;
  color: #ef476fff;
  text-shadow: 1px 1px 2px #fffcf9ff;
  -webkit-text-stroke-color: #ffd166ff;
  -webkit-text-stroke-width: 1px;
  margin-top: 0px;
  margin-bottom: 10px;
}

header {
  background-color: #26547cff;
  border-bottom: 4px solid #06d6a0ff;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
}

#color-palette {
  list-style: none;
  background-color: #fffcf9ff;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #06d6a0ff;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 3px 3px 3px #ffd166ff;
  text-align: center;
}

.color {
  display: inline-block;
  padding: 25px;  
  border-style: solid;
  border-width: 1px;
  margin-right: 20px;
}

li.color:nth-of-type(1) {
  background-color: #000;
  box-shadow: -3px -3px 3px #000,
              -3px  3px 3px #000,
               3px -3px 3px #000,
               3px  3px 3px #000;
}

li.color:nth-of-type(2) {
  background-color: #26547cff;
  box-shadow: -3px -3px 3px #26547cff,
              -3px  3px 3px #26547cff,
               3px -3px 3px #26547cff,
               3px  3px 3px #26547cff;
}

li.color:nth-of-type(3) {
  background-color: #ef476fff;
  box-shadow: -3px -3px 3px #ef476fff,
              -3px  3px 3px #ef476fff,
               3px -3px 3px #ef476fff,
               3px  3px 3px #ef476fff;
}

li.color:nth-of-type(4) {
  background-color: #ffd166ff;
  box-shadow: -3px -3px 3px #ffd166ff,
              -3px  3px 3px #ffd166ff,
               3px -3px 3px #ffd166ff,
               3px  3px 3px #ffd166ff;
}

/* li.color:nth-of-type(5) {
  background-color: #06d6a0ff;
  box-shadow: -3px -3px 3px #06d6a0ff,
              -3px  3px 3px #06d6a0ff,
               3px -3px 3px #06d6a0ff,
               3px  3px 3px #06d6a0ff;
} */
/*
--caribbean-green: #06d6a0ff; */