/* 
CSS HEX 
--usafa-blue: #26547cff;
--paradise-pink: #ef476fff;
--orange-yellow-crayola: #ffd166ff;
--caribbean-green: #06d6a0ff;
--baby-powder: #fffcf9ff;

font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Smooch', cursive; 

1366 x 768 */

body {
  margin: 0px;
}

#title {
  text-align: center;
  font-family: 'Smooch', cursive;
  font-weight: lighter;
  font-size: 50px;
  color: #ef476fff;
  text-shadow: 1px 1px 2px #fffcf9ff;
  -webkit-text-stroke-color: #ffd166ff;
  -webkit-text-stroke-width: 1px;
  margin-top: 0px;
  margin-bottom: 10px;
}

header {
  background-color: #26547cff;
  border-bottom: 4px solid #06d6a0ff;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
}